* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    width: 1140px;
    margin: 0 auto;
}
.promo{
    width: 1920px;
    height: 800px;
    background-color: rgba(44,44,44,0.8);
    background: url('img/main_bg.jpg') center center/cover no-repeat;
    padding: 39px 0px 62px 0px;
}
.logo .logo_img{
    display: block;
    margin: 0 auto;
}
.logo .logo_text{
    font-family: 'Times New Roman';
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: 14px;
}
h1{
    margin-top: 53px;
}
.title{
    font-size: 41px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f9bf3b;
    text-align: center;
}
.simple .title_big{
    font-size: 80px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: 21px;

}
h2.title{
    margin-top: 30px;
}
.promo .promo_text{
    margin-top: 23px;
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;
    color: white;
    text-align: center;
}
.promo .promo_text span{
    font-weight: 700;
    color: #f9bf3b;
}
.promo .btn, .finish2 .btn2{
    display: block;
    margin: 0px auto;
    margin-top: 69px;
    width: 321px;
    height: 80px;
    background-image: linear-gradient(to top,#2798b9 0%,#3ab6da 100%);
    border: 4px solid rgba(0,0,0,0.22);
    text-align: center;
    font-family: "Aptos Narrow";
    font-size: 21px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    box-shadow: 0px 0px 0px 0px;
    cursor: pointer;
    outline: none;
}
.finish2 .btn2{
    margin-top: 48px;
}
.more{
    margin-top: 69px;
}
.more .more_text{
    font-family: "Roboto - Thin";
    font-size: 15px;
    line-height: 24px;
    font-weight: 100;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
.more .more_img{
    display: block;
    margin: 0 auto;
    margin-top: 13px;
    margin-bottom: 62px;
}
.waiting{
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0px 75px 0px;
}
.waiting .waiting_header, .finish .finish_header{
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #252525;
    text-align: center;
}
.finish .finish_header{
    color: #fff;
}
.waiting .waiting_divider, .finish_divider{
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}
.waiting .waiting_subheader{
    font-family: "Roboto";
    font-size: 23px;
    line-height: 20px;
    font-weight: 400;
    color: #4a4a4a;
    text-align: center;
    margin-top: 17px;
}
.waiting .waiting_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 45px;
}
.waiting .waiting_wrapper .waiting_item{
    width: 339px;

    text-align: center;
}
.waiting .waiting_wrapper .waiting_item .waiting_img{
    width: 100%;
    height: 100%;
}
.waiting .waiting_wrapper .waiting_item .waiting_descr{
    font-family: "Roboto";
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    color: #4a4a4a;
    margin-top: 33px;
}
.optimization{
    min-height: 550px;
    padding: 102px 0 107px 0;
}
.optimization .optimization_header{
    margin-left: 391px;
    font-family: "Roboto-Black";
    font-size: 29px;
    font-weight: 400;
    text-transform: uppercase;
    color: #299cbd;
}
.optimization .promo_text{
    margin-left: 391px;
    margin-top: 25px;
    font-family: "Roboto-Light";
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
    color: #4a4a4a;
}
.optimization .promo_text span{
    font-family: "Roboto-Bold";
    font-weight: 700;
}
.optimization .optimization_img{
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}
.finish{
    min-height: 447;
    padding: 86px 0 79px 0;
    background: url("img/backgroundcomputer.jpg")center center/cover no-repeat;
}
.finish .finish_wrapper{
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}
.finish .finish_wrapper .finish_item{
    width: 204px;
}
.finish .finish_wrapper .finish_item .finish_round{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}
.finish .finish_wrapper .finish_item .finish_descr{
    margin-top: 25px;
    text-align: center;
    font-family: "Roboto";
    font-size: 17px;
    line-height: 20px;
    font-weight: 300;
    color: #efefef;
}
.finish2{
    padding: 86px 0 116px 0;
    height: 628px;
    background-color: #efefef;
}
.finish2 .present{
    display: block;
    margin-left: 526px;
    margin-right: 503px;
}
.finish2 .present2{
    display: block;
    margin: 0 auto;
}
.finish2 .present_descr{
    margin-top: 42px;
    height: 115px;
    font-family: "Roboto";
    font-size: 30px;
    line-height: 43px;
    font-weight: 400;
    color: #252525;
}
.finish3{
    height: 515px;
}
.finish3 .finish3_img1{
    position: absolute;
    top: 89px;
    left: 399px;
    z-index: -1;
}
.finish3 .finish3_img2{
    margin-top: 93px;
    margin-left: 444px;
}
.finish3_descr3{
    margin-top: 77px;
    margin-left: 347px;
    font-family: "Roboto";
    font-size: 30px;
    line-height: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #252525;
}
.finish3_descr4{
    margin-top: 30px;
    margin-left: 283px;
    font-family: "Roboto";
    font-size: 36px;
    line-height: 12px;
    font-weight: 900;
    text-transform: uppercase;
    color: #299cbd;
}
.finish3_descr5{
    margin-left: 295px;
    margin-top: 25px;
    font-family: "Roboto";
    font-size: 23px;
    line-height: 20px;
    font-weight: 400;
    color: #1a1a1a;
}
.footer_text{
    padding: 61px 0 69px 0;
    font-family: "Roboto";
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    text-decoration: underline;
    color: #888888;
    text-align: center;
}

.footer_link{
    color: #888888;
}